header {
    @include boxshadow;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 40px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    a, i {
        color: $blush;
        margin-right: 10px;
        padding: 7px;
        border-radius: 5px;
    }
}
.logobox {
    display: inline-flex;
    align-items: center;
    h1 {
        font-size: 25px;
        letter-spacing: 1.2px;
        color: $blush;
        font-family: $logo-font;
    }
    i {
        font-size: 25px;
    }
}
header .navbar a:active, 
header .navbar a:hover {
        background-color: $blush;
        color: white;
}

header .icons i, 
header .icons a {
    cursor: pointer;
    height: 35px;
    line-height: 23px;
    width: 35px;
    text-align: center;
    font-size: 15px;
    border-radius: 50%;

}
header .icons i:hover, 
header .icons a:hover {
    background-color: $blush;
    color: white;
    transform: rotate(360deg);
}
header .icons #menu-bars {
    display: none;
} 
#search-form {
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
#search-form #search-box {
    width: 200px;
    padding: 5px;
    color: white;
    font-size: 12px;
    text-transform: none;
    background: none;
    border-bottom: 1px solid white;
}
#search-form #search-box::placeholder {
    color: white;
    letter-spacing: 1.2px;
}
#search-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
#search-form label {
    color: white;
    cursor: pointer;
    font-size: 20px;
}
#search-form label:hover {
    color: $blush;
}
#search-form #close {
    position: absolute;
    color: white;
    cursor: pointer;
    top: 27px;
    right: 0;
    padding-right: 20px;
}






@media (max-width:991px) {
    html {
        font-size: 12px;
    }
    header {
        padding: 25px;
    }
}
@media (max-width:768px) {
    header .icons #menu-bars {
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top:100%; 
        left:0; 
        right:0;
        background: white;
        padding:10px;
        text-align: center;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a {
        display: block;
        padding: 20px;
        margin: 5px;
        background: white;
    }
}
