.banner .sub-heading h3 {
    @include heading;
    font-size: 25px;
}
.sub-heading {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sub-heading span {
    color: white;
}
.banner {
    height: 130px;
    position: relative;
    text-align: center;
    min-width: 800px;

}
.new .new-container {
    display: flex;
    justify-content: center;
}
.new .box-container .box {
    padding: 15px;
    border-radius: 10px;
    border: 1.5px solid $blush;
    box-shadow: 5px 10px 18px #888888;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.new .box-container .box .fa-heart,
.new .box-container .box .fa-eye {
    position: absolute;
    top: 10px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 13px;
    border-radius: 50%;
    opacity: 0.7;
    color: $blush;
    padding: 1px;
}
.new .box-container .box .fa-heart:hover,
.new .box-container .box .fa-eye:hover {
    color: $blackish;
}
.new .box-container .box .fa-heart {
    right: 15px;
}
.new .box-container .box .fa-eye {
    left: 15px;
}
.new .box-container .box img {
    width: 100%;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    padding: 5px;
    margin-bottom: 8px;
}
.new .box-container .box img:hover {
    transform: scale(1.1);
    transition: 0.8;
}

.new .box-container .box h4 {
    font-weight: 500;
}
.new .box-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.new .box-container .stars i {
    font-size: 12px;
}
.new .box-container .btn {
    font-size: 14px;
    height: auto;
}
@media (max-width: 991px) {
    .new .box-container .box img {
        margin: 5px;
        width: 100%;
        height: 140px;
        width: 140px;
    } 
}