header {
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.02);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 40px 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  background-color: white;
}
header a, header i {
  color: rosybrown;
  margin-right: 10px;
  padding: 7px;
  border-radius: 5px;
}

.logobox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logobox h1 {
  font-size: 25px;
  letter-spacing: 1.2px;
  color: rosybrown;
  font-family: "Oleo Script", sans-serif;
}
.logobox i {
  font-size: 25px;
}

header .navbar a:active,
header .navbar a:hover {
  background-color: rosybrown;
  color: white;
}

header .icons i,
header .icons a {
  cursor: pointer;
  height: 35px;
  line-height: 23px;
  width: 35px;
  text-align: center;
  font-size: 15px;
  border-radius: 50%;
}

header .icons i:hover,
header .icons a:hover {
  background-color: rosybrown;
  color: white;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

header .icons #menu-bars {
  display: none;
}

#search-form {
  position: fixed;
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1004;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

#search-form.active {
  top: 0;
}

#search-form #search-box {
  width: 200px;
  padding: 5px;
  color: white;
  font-size: 12px;
  text-transform: none;
  background: none;
  border-bottom: 1px solid white;
}

#search-form #search-box::-webkit-input-placeholder {
  color: white;
  letter-spacing: 1.2px;
}

#search-form #search-box::-moz-placeholder {
  color: white;
  letter-spacing: 1.2px;
}

#search-form #search-box:-ms-input-placeholder {
  color: white;
  letter-spacing: 1.2px;
}

#search-form #search-box::-ms-input-placeholder {
  color: white;
  letter-spacing: 1.2px;
}

#search-form #search-box::placeholder {
  color: white;
  letter-spacing: 1.2px;
}

#search-form #search-box::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

#search-form label {
  color: white;
  cursor: pointer;
  font-size: 20px;
}

#search-form label:hover {
  color: rosybrown;
}

#search-form #close {
  position: absolute;
  color: white;
  cursor: pointer;
  top: 27px;
  right: 0;
  padding-right: 20px;
}

.mydiv {
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 80px;
  overflow: hidden;
  max-width: 350px;
  background-color: rosybrown;
  color: #3c2a2a;
  padding: 20px;
  gap: 15px;
  right: 10px;
  display: none;
}

.mydiv .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.mydiv .cart-item h3 {
  padding-right: 25px;
}

.mydiv img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 16px;
  border: 1px solid white;
}

.mydiv .cart-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mydiv .cart-button .btn {
  background-color: #3c2a2a;
}

@media (max-width: 991px) {
  html {
    font-size: 12px;
  }

  header {
    padding: 25px;
  }
}
@media (max-width: 768px) {
  header .icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    padding: 10px;
    text-align: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    display: block;
    padding: 20px;
    margin: 5px;
    background: white;
  }

  #search-form #search-box {
    width: 90%;
    margin: 10px;
  }
}
.home {
  height: 100vh;
}

.swiper {
  width: 95%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide .content {
  width: 70%;
  padding-left: 40px;
  margin-left: 40px;
}

.swiper-slide .content h3 {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 800;
}

.swiper-slide .content span {
  color: rosybrown;
}

.swiper-slide .content p {
  width: 50%;
}

.swiper-slide .image {
  width: 70%;
  padding-right: 40px;
  margin-right: 40px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: rosybrown;
}

.swiper-pagination {
  color: rosybrown;
}

.swiper-pagination-bullet {
  background-color: rosybrown;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: rosybrown;
}

@-webkit-keyframes stretch {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes stretch {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.banner .sub-heading h3 {
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-size: 25px;
}

.sub-heading {
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sub-heading span {
  color: white;
}

.banner {
  height: 130px;
  position: relative;
  text-align: center;
  min-width: 800px;
}

.new .new-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.new .box-container .box {
  padding: 15px;
  border-radius: 10px;
  border: 1.5px solid rosybrown;
  -webkit-box-shadow: 5px 10px 18px #888888;
          box-shadow: 5px 10px 18px #888888;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.new .box-container .box .fa-heart,
.new .box-container .box .fa-eye {
  position: absolute;
  top: 10px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 13px;
  border-radius: 50%;
  opacity: 0.7;
  color: rosybrown;
  padding: 1px;
}

.new .box-container .box .fa-heart:hover,
.new .box-container .box .fa-eye:hover {
  color: #3c2a2a;
}

.new .box-container .box .fa-heart {
  right: 15px;
}

.new .box-container .box .fa-eye {
  left: 15px;
}

.new .box-container .box img {
  width: 100%;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  padding: 5px;
  margin-bottom: 8px;
}

.new .box-container .box img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.8;
  transition: 0.8;
}

.new .box-container .box h4 {
  font-weight: 500;
}

.new .box-container {
  width: 80%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.new .box-container .stars i {
  font-size: 12px;
}

.new .box-container .btn {
  font-size: 14px;
  height: auto;
}

@media (max-width: 991px) {
  .new .box-container .box img {
    margin: 5px;
    width: 100%;
    height: 140px;
    width: 140px;
  }
}
.about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .row .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  padding-left: 30px;
}

.about .row .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  padding-left: 30px;
}

.about .row .image img {
  width: 100%;
  border-radius: 10px;
}

.about .row .content h4 {
  font-weight: 700;
  font-size: 27px;
  margin-bottom: 10px;
  text-transform: uppercase;
  width: 70%;
}

.about .row .content p {
  font-size: 16px;
  margin-bottom: 10px;
  width: 70%;
}

.about .row .content .icons i {
  margin-bottom: 10px;
  color: rosybrown;
  font-size: 23px;
}

.about .row .content .icons i:hover {
  color: #3c2a2a;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menu h3 {
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
}

.menu .sub-heading span {
  color: white;
}

.menu .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .box-container .box {
  padding: 15px;
  border-radius: 10px;
  border: 1.5px solid rosybrown;
  -webkit-box-shadow: 5px 10px 18px #888888;
          box-shadow: 5px 10px 18px #888888;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.menu .box-container .box .fa-heart,
.menu .box-container .box .fa-eye {
  position: absolute;
  top: 10px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 13px;
  border-radius: 50%;
  opacity: 0.7;
  color: rosybrown;
  padding: 1px;
}

.menu .box-container .box .fa-heart:hover,
.menu .box-container .box .fa-eye:hover {
  color: #3c2a2a;
}

.menu .box-container .box .fa-heart {
  right: 15px;
}

.menu .box-container .box .fa-eye {
  left: 15px;
}

.menu .box-container .box img {
  width: 100%;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  padding: 5px;
  margin-bottom: 8px;
}

.menu .box-container .box img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.8;
  transition: 0.8;
}

.menu .box-container .box h4 {
  font-weight: 500;
}

.menu .box-container {
  width: 85%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.menu .box-container .stars i {
  font-size: 12px;
}

.menu .box-container .btn {
  font-size: 14px;
  height: auto;
}

.reviews .reviews-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-card {
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.reviews .reviews-container .reviews-content {
  padding: 20px;
  border: 1px solid rosybrown;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px 18px #888888;
          box-shadow: 5px 10px 18px #888888;
  position: relative;
}

.reviews .reviews-container .fa-quote-right {
  position: absolute;
  top: 8px;
  right: 15px;
  font-size: 30px;
  color: rosybrown;
  opacity: 0.5;
}

.reviews .reviews-container .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.5rem;
}

.reviews .reviews-container .user img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 12px;
}

.reviews .reviews-container .user h3 {
  padding-top: 15px;
  font-size: 15px;
  font-weight: 600;
}

.reviews .reviews-container .user i {
  font-size: 14px;
  color: rosybrown;
}

.reviews .reviews-container .user .stars {
  padding-top: 10px;
}

.reviews .reviews-container p {
  width: 100%;
  font-size: 14px;
  line-height: 1.8;
  text-align: center;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-box {
  border-radius: 5px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 900px;
  max-width: 100%;
  min-height: 400px;
  min-width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rosybrown;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 480px;
}

.right-container {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 460px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 480px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-container img {
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.left-container p {
  font-size: 0.9rem;
}

.right-inner-container {
  width: 70%;
  height: 80%;
  text-align: center;
}

.left-inner-container {
  height: 50%;
  width: 80%;
  text-align: center;
  line-height: 22px;
}

input, textarea {
  background-color: white;
  opacity: 0.9;
  border: none;
  border-radius: 10px;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 12px;
}

input:focus, textarea:focus {
  opacity: 1;
}

.contact-box .btn {
  background-color: #3c2a2a;
}

.contact-box .btn:hover {
  background-color: white;
  color: rosybrown;
}

@media only screen and (max-width: 600px) {
  .left-container {
    display: none;
  }

  .lg-view {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .sm-view {
    display: none;
  }
}
form p {
  text-align: left;
}

footer {
  margin-top: 40px;
  background: rosybrown;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer .content {
  max-width: 1250px;
  margin: auto;
  padding-top: 15px;
}

footer .content .link-boxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}

.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}

.content .link-boxes .box li a {
  color: white;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.content .link-boxes .box li a:hover {
  font-weight: 600;
}

.content .link-boxes .box i {
  color: white;
  background-color: #3c2a2a;
  padding: 5px;
  margin-right: 5px;
  height: 30px;
  line-height: 21px;
  width: 30px;
  text-align: center;
  font-size: 15px;
  border-radius: 50%;
}

.content .link-boxes .box i:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.content .link-boxes .input-box {
  margin-right: 55px;
}

.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  background: white;
  border-radius: 10px;
  padding: 0 15px;
  font-size: 15px;
  color: #3c2a2a;
  margin-top: 5px;
  opacity: 0.9;
}

.link-boxes .input-box input::-webkit-input-placeholder {
  font-size: 14px;
}

.link-boxes .input-box input::-moz-placeholder {
  font-size: 14px;
}

.link-boxes .input-box input:-ms-input-placeholder {
  font-size: 14px;
}

.link-boxes .input-box input::-ms-input-placeholder {
  font-size: 14px;
}

.link-boxes .input-box input::placeholder {
  font-size: 14px;
}

.link-boxes .input-box .btn {
  font-size: 18px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  background-color: #3c2a2a;
}

.link-boxes .input-box .btn:hover {
  background-color: white;
  color: #3c2a2a;
}

.link-boxes .input-box input:focus {
  opacity: 1;
}

footer .bottom-details {
  width: 100%;
  background: rosybrown;
}

footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}

.bottom-details .bottom_text a {
  margin-right: 10px;
}

@media (max-width: 900px) {
  footer .content .link-boxes {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px) {
  footer {
    position: relative;
  }

  .content .top .logo-details {
    font-size: 26px;
  }

  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }

  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }

  footer .content .link-boxes .input-box {
    width: 60%;
  }

  .bottom-details .bottom_text span,
.bottom-details .bottom_text a {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }

  footer .content .link-boxes .input-box {
    width: 100%;
  }
}
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #3c2a2a;
}

html {
  font-size: 17px;
  overflow-x: hidden;
  scroll-padding-top: 20px;
  scroll-behavior: smooth;
}

section {
  margin-top: 20px;
  padding: 40px 30px 20px 30px;
}

.btn {
  margin-top: 10px;
  display: inline-block;
  font-size: 15px;
  color: white;
  border-radius: 10px;
  background-color: rosybrown;
  padding: 9px;
  font-weight: 400;
}

.btn:hover {
  background-color: #3c2a2a;
}