@import 'fonts';
@import 'colors';
@import 'mixins';
@import 'header';
@import 'home';
@import 'new';
@import 'about';

* {
    font-family: $main-font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
    color: $blackish;
}
html {
    font-size: 17px;
    overflow-x: hidden;
    scroll-padding-top: 20px;
    scroll-behavior: smooth;
}
section {
    margin-top: 20px;
    padding: 40px 30px 20px 30px;
}
.btn {
    margin-top: 10px;
    display: inline-block;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    background-color: $blush;
    padding: 9px;
    font-weight: 400;
}
.btn:hover {
    background-color: $blackish;
}
